<div
  class="fluid-container"
  style="
    background-color: rgb(14, 18, 14);
    height: 100%;
    align-items: center;
    justify-content: start;
    vertical-align: middle;
  "
>
  <div class="fluid-container">
    <div class="row">
      <div class="col my-2">
        <p
          style="
            font-size: 60px;
            color: white;
            padding-top: 40px;
            padding-left: 30px;
          "
        >
          {{
            AlbumArtist.length > 20
              ? (AlbumArtist | slice: 0:20) + ".."
              : AlbumArtist
          }}
        </p>
        <p
          style="
            font-size: 35px;
            color: white;
            padding-top: 30px;
            padding-left: 30px;
          "
        >
          Albums
        </p>
      </div>
      <div class="col" style="text-align: end; padding: 25px">
        <button class="ml-auto backbutton" (click)="didGoBack()">
          Go Back
        </button>
      </div>
    </div>
  </div>
  <div
    class="fluid-container text-center"
    style="background-color: rgb(14, 18, 14)"
  >
    <div class="fluid-container px-5">
      <div class="row px-3">
        <app-album-item
          *ngFor="let album of Album"
          class="col-lg-3 col-md-4 col-sm-6 pb-3"
          style="height: 300px"
          [album]="album"
        >
        </app-album-item>
      </div>
    </div>
  </div>
</div>
