.Welcometext {
  color: white;
  font-size: 56px;
  line-height: 80px;
}
.subwelcometext {
  font-size: 35px;
  line-height: 35px;

  color: #1db954;
}
.search {
  font-size: 35px;
  border-radius: 25px;
  border: none;
}
