.overlay {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.233);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1004;
  overflow: hidden;
}
.mat-progress-bar .mat-progress-bar-buffer {
  background-color: red;
}
.loadingbar {
  position: fixed;
  z-index: 1005;
}
/* Grow Shadow */
.hvr-grow {
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}
