<!-- <button (click)="didClickLoginButton()">Click Me!</button>
<button (click)="didClickGetArtists()">Check Log for artists</button> -->
<div class="waveWrapper waveAnimation" style="padding-top: 20px">
  <div class="waveWrapperInner bgMiddle">
    <div
      class="wave waveMiddle"
      style="
        background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png');
      "
    ></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div
      class="wave waveBottom"
      style="
        background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png');
      "
    ></div>
  </div>
</div>
<div class="fluid-container" style="z-index: 30; position: relative">
  <div class="row">
    <div class="col-12">
      <div style="text-align: center">
        <p style="font-size: 200px; color: white">
          <i class="fab fa-spotify hvr-grow-shadow"></i>
        </p>
      </div>
      <div style="text-align: center">
        <p class="entrance-text">Your Artists, At A glance.</p>
      </div>

      <button
        style="
          border-radius: 25px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          background-color: white;
          border: none;
          position: absolute;
          top: 120%;
          left: 50%;
          transform: translate(-50%, -50%);
        "
        (click)="didClickLoginButton()"
        class="grow"
      >
        <div class="fluid-container">
          <div class="row">
            <div class="col-1" style="vertical-align: middle">
              <img src="/assets/logo/logoonly.svg" width="60px" alt="" />
            </div>
            <div class="col" style="padding-top: 9px">Login with Spotify</div>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
